(
    selection: (
        ignore_back_faces: false,
        track_selection: true,
    ),
    graphics: (
        quality: (
            point_shadow_map_size: 1024,
            point_soft_shadows: true,
            point_shadows_enabled: true,
            point_shadows_distance: 15.0,
            point_shadow_map_precision: Full,
            point_shadows_fade_out_range: 1.0,
            spot_shadow_map_size: 1024,
            spot_soft_shadows: true,
            spot_shadows_enabled: true,
            spot_shadows_distance: 15.0,
            spot_shadow_map_precision: Full,
            spot_shadows_fade_out_range: 1.0,
            csm_settings: (
                enabled: true,
                size: 2048,
                precision: Full,
                pcf: true,
            ),
            use_ssao: true,
            ssao_radius: 0.5,
            light_scatter_enabled: true,
            fxaa: false,
            use_parallax_mapping: false,
            use_bloom: true,
        ),
        z_near: 0.025,
        z_far: 128.0,
    ),
    general: (
        show_node_removal_dialog: true,
        suspend_unfocused_editor: true,
    ),
    debugging: (
        show_physics: false,
        show_bounds: true,
        show_tbn: false,
        show_terrains: false,
        show_light_bounds: true,
        show_camera_bounds: true,
        pictogram_size: 0.33,
        save_scene_in_text_form: false,
    ),
    move_mode_settings: (
        grid_snapping: false,
        x_snap_step: 0.05,
        y_snap_step: 0.05,
        z_snap_step: 0.05,
    ),
    rotate_mode_settings: (
        angle_snapping: false,
        x_snap_step: 2.5,
        y_snap_step: 2.5,
        z_snap_step: 2.5,
    ),
    model: (
        instantiation_scale: (1.0, 1.0, 1.0),
    ),
    camera: (
        speed: 10.0,
        invert_dragging: false,
        drag_speed: 0.01,
        zoom_speed: 0.5,
        zoom_range: (
            start: 0.0,
            end: 100.0,
        ),
    ),
    navmesh: (
        draw_all: true,
        vertex_radius: 0.2,
    ),
    key_bindings: (
        move_forward: Some(KeyW),
        move_back: Some(KeyS),
        move_left: Some(KeyA),
        move_right: Some(KeyD),
        move_up: Some(KeyQ),
        move_down: Some(KeyE),
        speed_up: Some(ControlLeft),
        slow_down: Some(ShiftLeft),
        undo: Some(
            code: KeyZ,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        redo: Some(
            code: KeyY,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        enable_select_mode: Some(
            code: Digit1,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_move_mode: Some(
            code: Digit2,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_rotate_mode: Some(
            code: Digit3,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_scale_mode: Some(
            code: Digit4,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_navmesh_mode: Some(
            code: Digit5,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_terrain_mode: Some(
            code: Digit6,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        save_scene: Some(
            code: KeyS,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        load_scene: Some(
            code: KeyL,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        copy_selection: Some(
            code: KeyC,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        paste: Some(
            code: KeyV,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        new_scene: Some(
            code: KeyN,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        close_scene: Some(
            code: KeyQ,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        remove_selection: Some(
            code: Delete,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        focus: Some(
            code: KeyF,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        terrain_key_bindings: (
            modify_height_map_mode: Some(
                code: F1,
                modifiers: (
                    alt: false,
                    shift: false,
                    control: false,
                    system: false,
                ),
            ),
            draw_on_mask_mode: Some(
                code: F2,
                modifiers: (
                    alt: false,
                    shift: false,
                    control: false,
                    system: false,
                ),
            ),
            flatten_slopes_mode: Some(
                code: F3,
                modifiers: (
                    alt: false,
                    shift: false,
                    control: false,
                    system: false,
                ),
            ),
            increase_brush_size: Some(
                code: BracketRight,
                modifiers: (
                    alt: false,
                    shift: false,
                    control: false,
                    system: false,
                ),
            ),
            decrease_brush_size: Some(
                code: BracketLeft,
                modifiers: (
                    alt: false,
                    shift: false,
                    control: false,
                    system: false,
                ),
            ),
            increase_brush_opacity: Some(
                code: Period,
                modifiers: (
                    alt: false,
                    shift: false,
                    control: false,
                    system: false,
                ),
            ),
            decrease_brush_opacity: Some(
                code: Comma,
                modifiers: (
                    alt: false,
                    shift: false,
                    control: false,
                    system: false,
                ),
            ),
            prev_layer: Some(
                code: Semicolon,
                modifiers: (
                    alt: false,
                    shift: false,
                    control: false,
                    system: false,
                ),
            ),
            next_layer: Some(
                code: Quote,
                modifiers: (
                    alt: false,
                    shift: false,
                    control: false,
                    system: false,
                ),
            ),
        ),
    ),
    scene_settings: {
        "data/models/tree.rgs": (
            camera_settings: (
                position: (0.0, 1.0, 0.0),
                yaw: 0.0,
                pitch: 0.0,
            ),
            node_infos: {
                (
                    index: 0,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
            },
        ),
        "\\\\?\\I:\\RustEngine\\fyrox-tutorials\\rpg-tutorial1-character-controller\\data\\models\\paladin\\paladin.rgs": (
            camera_settings: (
                position: (0.0, 1.0, 0.0),
                yaw: 0.0,
                pitch: 0.0,
            ),
            node_infos: {},
        ),
        "data/models/wood_cabin/wooden_cabin.rgs": (
            camera_settings: (
                position: (-1.9107504, 1.7785295, -2.5889034),
                yaw: 0.30000004,
                pitch: -0.039999995,
            ),
            node_infos: {
                (
                    index: 1,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 0,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
            },
        ),
        "\\\\?\\I:\\RustEngine\\fyrox-tutorials\\rpg-tutorial1-character-controller\\data\\scene.rgs": (
            camera_settings: (
                position: (-0.47119832, 3.3900604, 5.653226),
                yaw: 12.180136,
                pitch: 0.4107959,
            ),
            node_infos: {
                (
                    index: 375,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 0,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 44,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 41,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 49,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 43,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 45,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 42,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 57,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
            },
        ),
        "\\\\?\\I:\\RustEngine\\fyrox-tutorials\\rpg-tutorial1-character-controller\\data\\models\\wood_cabin\\wooden_cabin.rgs": (
            camera_settings: (
                position: (-2.5076818, 4.0969925, 1.371464),
                yaw: -0.020000115,
                pitch: 0.3400006,
            ),
            node_infos: {
                (
                    index: 0,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 46,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
            },
        ),
        "\\\\?\\I:\\RustEngine\\fyrox-tutorials\\rpg-tutorial1-character-controller\\data\\models\\tree.rgs": (
            camera_settings: (
                position: (0.6212349, 0.76047355, 1.436752),
                yaw: 0.68000144,
                pitch: 0.07999982,
            ),
            node_infos: {},
        ),
        "\\\\?\\I:\\RustEngine\\fyrox-tutorials\\rpg-tutorial1-character-controller\\data\\models\\barrel\\barrel.rgs": (
            camera_settings: (
                position: (-0.8685769, -1.1397644, 0.6477623),
                yaw: -0.8999996,
                pitch: 0.6200005,
            ),
            node_infos: {},
        ),
        "data/models/paladin/paladin.rgs": (
            camera_settings: (
                position: (0.0007041693, 0.8627034, -0.00091071427),
                yaw: -2.88,
                pitch: 0.3107969,
            ),
            node_infos: {
                (
                    index: 8,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 115,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 77,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 114,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 41,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 117,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 116,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 78,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 3,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 74,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 0,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 118,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 113,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 6,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 76,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 75,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 42,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
            },
        ),
        "data/scene.rgs": (
            camera_settings: (
                position: (-1.3429474, 1.4865986, -0.29959202),
                yaw: -0.5200043,
                pitch: 0.31079608,
            ),
            node_infos: {
                (
                    index: 433,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 344,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 2,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 281,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 396,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 428,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 8,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 511,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 4,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 381,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 392,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 77,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 284,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 440,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 1,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 404,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 417,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 341,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 74,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 399,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 387,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 422,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 387,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 432,
                    generation: 1,
                ): (
                    is_expanded: true,
                ),
                (
                    index: 411,
                    generation: 2,
                ): (
                    is_expanded: true,
                ),
            },
        ),
    },
    recent: (
        scenes: [
            "data/models/barrel/barrel.rgs",
            "data/models/paladin/paladin.rgs",
            "data/models/tree.rgs",
            "data/models/wood_cabin/wooden_cabin.rgs",
            "data/scene.rgs",
        ],
    ),
    windows: (
        window_position: (1145.0, 400.0),
        window_size: (1406.0, 968.0),
        layout: Some((
            floating_windows: [
                (
                    name: "AnimationEditor",
                    position: (0.0, 0.0),
                    size: (734.39, 347.375),
                ),
                (
                    name: "AsbmEditor",
                    position: (0.0, 0.0),
                    size: (0.0, 0.0),
                ),
                (
                    name: "ParticleSystemPanel",
                    position: (0.0, 0.0),
                    size: (0.0, 0.0),
                ),
                (
                    name: "CameraPanel",
                    position: (0.0, 0.0),
                    size: (0.0, 0.0),
                ),
                (
                    name: "AudioPreviewPanel",
                    position: (0.0, 0.0),
                    size: (0.0, 0.0),
                ),
                (
                    name: "NavmeshPanel",
                    position: (0.0, 0.0),
                    size: (0.0, 0.0),
                ),
                (
                    name: "DocPanel",
                    position: (0.0, 0.0),
                    size: (0.0, 0.0),
                ),
            ],
            root_tile_descriptor: Some((
                content: SplitTiles((
                    splitter: 0.75,
                    orientation: Vertical,
                    children: ((
                        content: SplitTiles((
                            splitter: 0.20412518,
                            orientation: Horizontal,
                            children: ((
                                content: Window("WorldOutliner"),
                            ), (
                                content: SplitTiles((
                                    splitter: 0.66,
                                    orientation: Horizontal,
                                    children: ((
                                        content: SplitTiles((
                                            splitter: 0.5,
                                            orientation: Vertical,
                                            children: ((
                                                content: Window("SceneViewer"),
                                            ), (
                                                content: Window("AnimationEditor"),
                                            )),
                                        )),
                                    ), (
                                        content: Window("Inspector"),
                                    )),
                                )),
                            )),
                        )),
                    ), (
                        content: SplitTiles((
                            splitter: 0.66,
                            orientation: Horizontal,
                            children: ((
                                content: SplitTiles((
                                    splitter: 0.8,
                                    orientation: Horizontal,
                                    children: ((
                                        content: Window("AssetBrowser"),
                                    ), (
                                        content: Window("CommandStackPanel"),
                                    )),
                                )),
                            ), (
                                content: SplitTiles((
                                    splitter: 0.5,
                                    orientation: Horizontal,
                                    children: ((
                                        content: Window("LogPanel"),
                                    ), (
                                        content: Window("AudioPanel"),
                                    )),
                                )),
                            )),
                        )),
                    )),
                )),
            )),
        )),
    ),
)